<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/searchpage.css">
  <link rel="stylesheet" href="/css/moods.css">
  <link rel="stylesheet" href="/css/login.css">

  <link rel="icon" type="image/png" href="/imgs/favicon.png" />
  <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <!-- <script src="/js/application.js"></script> -->


  <title>But It's Not Google Feud</title>
</head>
<body>
  <h1>But It's Not Google - Feud?</h1>
  <div class="main-container">
    <%= yield %>
  </div>
</body>
</html>
