<h3><%=@query.statement if @query%></h3>
<form action="/" method="post">
  <input type="submit" value="Get Phrase">
</form>

<% unless @query.responses.empty? %>
  <div>
    <ol>
    <% @query.responses.each do |thing| %>
      <li> <%= thing %> </li>
    <% end %>
    </ol>
  </div>
<% end %>
