<!-- <form action="/" method="post">
  <input name="query" value="<%=@query if @query%>">
  <input type="submit">
</form> -->
<h3><%=@query.statement if @query%></h3>
<a href="/">Refresh</a>

<% if @options %>
  <div>
    <ol>
    <% @options.each do |thing| %>
      <li> <%= thing %> </li>
    <% end %>
    </ol>
  </div>
<% end %>
