<form action="/" method="get">
  <input name="query">
  <input type="submit">
</form>

<% if @options %>
  <div>
    <ol>
    <% @options.each do |thing| %>
      <li> <%= thing %> </li>
    <% end %>
    </ol>
  </div>
<% end %>
